<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>add person</title>
</head>
<h3>Add Applicant/Worker</h3>
<input name="type" type="radio" id="wo" value="w" />
<label for="w">Worker</label>
<input name="type" type="radio" id="ap" value="a" />
<label for="a">Applicant</label>
<br>
<label for="name">Name</label>
<input type="text" id="name" />
<br>
<label for="age">Age</label>
<input type="text" id="age" />
<br>
<!store information의 type과 name을 들고옴>
<label for="worktype">Work Type</label>
<select name="worktype" id="worktype" />
    <option value="1">kitchen1</option>
    <option value="2">kitchen2</option>
    <option value="3">hall1</option>
    <option value="4">hall2</option>
</select>
<p> Working Hour</p>
<table border="1"><tr><td>mon</td><td>11-15</td></tr>
    <tr><td>wed</td><td>11-15</td></tr></table></fieldset>
<button>update</button>
<p> Available Hour</p>
<table border="1"><tr><td>tue</td><td>11-15</td></tr>
    <tr><td>sat</td><td>11-15</td></tr></table></fieldset>
<button>update</button>

<p align="center"><button>save</button></p>

</body>
</html>