<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<h1 class = "title">Schedule</h1>
<div class="board">
    <table width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Time/Day</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
            </tr>
        </tbody>
    <!timeslotid=년도_월_몇번째주_요일(월요일=1)_시간(11시=1)_workertype>
            <tr>
                <td>11</td>
                <!mon><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td> <a href ="update_schedule.html?timeslotid=22_05_3_1_1_1">A</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_1_1_2">B</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_1_1_3"><div style="color:red;">X</div></a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_1_1_4">D</a> </td></tr>
                </table></td>
                <!tue><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td> <a href ="update_schedule.html?timeslotid=22_05_3_2_1_1">A</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_2_1_2">B</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_2_1_3">E</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_2_1_4">D</a> </td></tr>
                </table></td>
                <!wed><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</tr>
                </table></td>
                <!thu><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>A</td>
                    <td>B</td>
                    <td>E</td>
                    <td>F</tr>
                </table></td>
                <!fri><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>A</td>
                    <td>B</td>
                    <td>G</td>
                    <td>H</td></tr>
                </table></td>
                <!sat><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>M</td>
                    <td>N</td>
                    <td>G</td>
                    <td>H</td></tr>
                </table></td>
                <!sun><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>M</td>
                    <td>N</td>
                    <td>G</td>
                    <td>H</td></tr>
                </table></td>
            </tr>
            <tr>
                <td>12</td>
                <!mon><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td> <a href ="update_schedule.html?timeslotid=22_05_3_1_2_1">A</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_1_2_2">B</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_1_2_3"><div style="color:red;">X</div></a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_1_2_4">D</a> </td></tr>
                </table></td>
                <!tue><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td> <a href ="update_schedule.html?timeslotid=22_05_3_2_2_1">A</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_2_2_2">B</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_2_2_3">E</a> </td>
                    <td> <a href ="update_schedule.html?timeslotid=22_05_3_2_2_4">D</a> </td></tr>
                </table></td>
                <!wed><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</tr>
                </table></td>
                <!thu><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>A</td>
                    <td>B</td>
                    <td>E</td>
                    <td>F</tr>
                </table></td>
                <!fri><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>A</td>
                    <td>B</td>
                    <td>G</td>
                    <td>H</td></tr>
                </table></td>
                <!sat><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>M</td>
                    <td>N</td>
                    <td>G</td>
                    <td>H</td></tr>
                </table></td>
                <!sun><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td>M</td>
                    <td>N</td>
                    <td>G</td>
                    <td>H</td></tr>
                </table></td>
            </tr>
        </table>
<p align="center"><button>cancel</button>&nbsp<button>save</button></p>
<hr>
