<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>timeslot table</title>
</head>
<body>
<h3>Time Slot Table</h3>
<table border="1" class="timeslot_table">
            <thead>
            <tr>
                <th></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr></thead>
            <tr>
                <td>11</td>
                <!mon><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch11-m-1"></td>
                    <td><input type="checkbox" name="ch11-m-2"></td>
                    <td><input type="checkbox" name="ch11-m-3"></td>
                    <td><input type="checkbox" name="ch11-m-4"></td></tr>
                </table></td>
                <!tue><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch11-t-1"></td>
                    <td><input type="checkbox" name="ch11-t-2"></td>
                    <td><input type="checkbox" name="ch11-t-3"></td>
                    <td><input type="checkbox" name="ch11-t-4"></td></tr>
                </table></td>
                <!wed><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch11-w-1"></td>
                    <td><input type="checkbox" name="ch11-w-2"></td>
                    <td><input type="checkbox" name="ch11-w-3"></td>
                    <td><input type="checkbox" name="ch11-w-4"></td></tr>
                </table></td>
                <!thu><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch11-th-1"></td>
                    <td><input type="checkbox" name="ch11-th-2"></td>
                    <td><input type="checkbox" name="ch11-th-3"></td>
                    <td><input type="checkbox" name="ch11-th-4"></td></tr>
                </table></td>
                <!fri><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch11-f-1"></td>
                    <td><input type="checkbox" name="ch11-f-2"></td>
                    <td><input type="checkbox" name="ch11-f-3"></td>
                    <td><input type="checkbox" name="ch11-f-4"></td></tr>
                </table></td>
                <!sat><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch11-s-1"></td>
                    <td><input type="checkbox" name="ch11-s-2"></td>
                    <td><input type="checkbox" name="ch11-s-3"></td>
                    <td><input type="checkbox" name="ch11-s-4"></td></tr>
                </table></td>
                <!sun><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch11-su-1"></td>
                    <td><input type="checkbox" name="ch11-su-2"></td>
                    <td><input type="checkbox" name="ch11-su-3"></td>
                    <td><input type="checkbox" name="ch11-su-4"></td></tr>
                </table></td>
            </tr>
            <tr>
                <td>12</td>
                <!mon><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch12-m-1"></td>
                    <td><input type="checkbox" name="ch12-m-2"></td>
                    <td><input type="checkbox" name="ch12-m-3"></td>
                    <td><input type="checkbox" name="ch12-m-4"></td></tr>
                </table></td>
                <!tue><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch12-t-1"></td>
                    <td><input type="checkbox" name="ch12-t-2"></td>
                    <td><input type="checkbox" name="ch12-t-3"></td>
                    <td><input type="checkbox" name="ch12-t-4"></td></tr>
                </table></td>
                <!wed><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch12-w-1"></td>
                    <td><input type="checkbox" name="ch12-w-2"></td>
                    <td><input type="checkbox" name="ch12-w-3"></td>
                    <td><input type="checkbox" name="ch12-w-4"></td></tr>
                </table></td>
                <!thu><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch12-th-1"></td>
                    <td><input type="checkbox" name="ch12-th-2"></td>
                    <td><input type="checkbox" name="ch12-th-3"></td>
                    <td><input type="checkbox" name="ch12-th-4"></td></tr>
                </table></td>
                <!fri><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch12-f-1"></td>
                    <td><input type="checkbox" name="ch12-f-2"></td>
                    <td><input type="checkbox" name="ch12-f-3"></td>
                    <td><input type="checkbox" name="ch12-f-4"></td></tr>
                </table></td>
                <!sat><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch12-s-1"></td>
                    <td><input type="checkbox" name="ch12-s-2"></td>
                    <td><input type="checkbox" name="ch12-s-3"></td>
                    <td><input type="checkbox" name="ch12-s-4"></td></tr>
                </table></td>
                <!sun><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch12-su-1"></td>
                    <td><input type="checkbox" name="ch12-su-2"></td>
                    <td><input type="checkbox" name="ch12-su-3"></td>
                    <td><input type="checkbox" name="ch12-su-4"></td></tr>
                </table></td>
            </tr>
            <tr>
                <td>13</td>
                <!mon><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch13-m-1"></td>
                    <td><input type="checkbox" name="ch13-m-2"></td>
                    <td><input type="checkbox" name="ch13-m-3"></td>
                    <td><input type="checkbox" name="ch13-m-4"></td></tr>
                </table></td>
                <!tue><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch13-t-1"></td>
                    <td><input type="checkbox" name="ch13-t-2"></td>
                    <td><input type="checkbox" name="ch13-t-3"></td>
                    <td><input type="checkbox" name="ch13-t-4"></td></tr>
                </table></td>
                <!wed><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch13-w-1"></td>
                    <td><input type="checkbox" name="ch13-w-2"></td>
                    <td><input type="checkbox" name="ch13-w-3"></td>
                    <td><input type="checkbox" name="ch13-w-4"></td></tr>
                </table></td>
                <!thu><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch13-th-1"></td>
                    <td><input type="checkbox" name="ch13-th-2"></td>
                    <td><input type="checkbox" name="ch13-th-3"></td>
                    <td><input type="checkbox" name="ch13-th-4"></td></tr>
                </table></td>
                <!fri><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch13-f-1"></td>
                    <td><input type="checkbox" name="ch13-f-2"></td>
                    <td><input type="checkbox" name="ch13-f-3"></td>
                    <td><input type="checkbox" name="ch13-f-4"></td></tr>
                </table></td>
                <!sat><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch13-s-1"></td>
                    <td><input type="checkbox" name="ch13-s-2"></td>
                    <td><input type="checkbox" name="ch13-s-3"></td>
                    <td><input type="checkbox" name="ch13-s-4"></td></tr>
                </table></td>
                <!sun><td><table><tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                <tr><td><input type="checkbox" name="ch13-su-1"></td>
                    <td><input type="checkbox" name="ch13-su-2"></td>
                    <td><input type="checkbox" name="ch13-su-3"></td>
                    <td><input type="checkbox" name="ch13-su-4"></td></tr>
                </table></td>
            </tr>
        </table>
<p align="center"><button>cancel</button>&nbsp<button>delete-checked</button>&nbsp<button>save</button></p>

</body>
</html>