<!DOCTYPE html>
<!input 받은 직원 수만큼 테이블의 행이 생성됨>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add/update work type</title>
</head>
<body>
<h3>Add/Update Work Type</h3>
       <table border="1" class="work_type_setting">
            <thead>
            <tr>
                <th>Type Name</th>
                <th>Payroll</th>
            </tr></thead>
            <tr>
                <td><input type="text" name="t1" /> </td>
                <td><input type="text" name="p1" /> </td>
            </tr>
        </table>
        <p class = "button"><button>cancel</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button>save</button></p>
</body>
</html>