<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update_schedule</title>
</head>
<body>
<h3>Update Schedule</h3>
<p>timeslotid: 22_05_3_1_1_3</p>
<p>date: 2022/05/17</p>
<p>time: 11:00-12:00</p>
<p>work type: hall1</p>
<label for="available_worker">Available Worker</label>
<select name="worktype" id="available_worker" />
    <option value="E">E</option>
    <option value="H">H</option>
    <option value="I">I</option>
    <option value="X">None</option>
</select>
<p align="center"><button>cancel</button>&nbsp<button>save</button></p>
</body>
</html>