<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<h1 class = "title">Daily Work Record</h1>
<h3 class="i-name">Work Record</h3>
<div class="board">
    <table width="100%">
        <thead>
            <tr>
                <th></th>
                <th colspan="4">5/18(wed)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hour/Work Type</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>11</td>
                <td> <a href ="update_record.html?timeslotid=22_05_3_3_1">A</a> </td>
                    <td> <a href ="update_record.html?timeslotid=22_05_3_3_2">B</a> </td>
                    <td> <a href ="update_record.html?timeslotid=22_05_3_3_3"><div style="color:red;">X</div></a> </td>
                    <td> <a href ="update_record.html?timeslotid=22_05_3_3_4">D</a> </td>
            </tr>
            <tr>
                <td>12</td>
                <td> <a href ="update_record.html?timeslotid=22_05_3_3_5">A</a> </td>
                    <td> <a href ="update_record.html?timeslotid=22_05_3_3_6">B</a> </td>
                    <td> <a href ="update_record.html?timeslotid=22_05_3_3_7"><div style="color:red;">X</div></a> </td>
                    <td> <a href ="update_record.html?timeslotid=22_05_3_3_8">D</a> </td>
            </tr>
        </tbody>
    </table>
</div>
<P><textarea name="memo" cols="30" rows="3">memo</textarea></P>
<p align="center"><button>cancel</button>&nbsp<button>save</button></p>
<h3 class="i-name">Summary</h3>
<div class="board">
    <table width="100%">
        <thead>
            <tr>
                <th>Worker</th>
                <th>Daily Hours</th>
                <th>Weekly Hours</th>
                <th>Weekly Expected Hours</th>
                <th>Weekly Payroll</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A</td>
                <td>4</td>
                <td>12</td>
                <td>16</td>
                <td>160000</td>
            </tr>
            <tr>
                <td>B</td>
                <td>4</td>
                <td>12</td>
                <td>16</td>
                <td>160000</td>
            </tr>
            <tr>
                <td>D</td>
                <td>4</td>
                <td>12</td>
                <td>12</td>
                <td>110000</td>
            </tr>
            <tr><td colspan="5" align="right">total weekly payroll:430000</td></tr>
        </tbody>
    </table>
</div>