<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>working hour update</title>
</head>
<body>
<h3>Update Working Hour</h3>
<table border="1" class="timeslot_table">
            <thead>
            <tr>
                <th></th>
                <th>Working hour</th>
            </tr></thead>
            <tr>
                <td>Mon</td>
                <td><table><tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
                <tr><td><input type="checkbox" name="m-11"></td>
                    <td><input type="checkbox" name="m-12"></td>
                    <td><input type="checkbox" name="m-13"></td>
                    <td><input type="checkbox" name="m-14"></td></tr>
                </table></td></tr>
    <tr>
        <td>Tue</td>
                <td><table><tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
                <tr><td><input type="checkbox" name="t-11"></td>
                    <td><input type="checkbox" name="t-12"></td>
                    <td><input type="checkbox" name="t-13"></td>
                    <td><input type="checkbox" name="t-14"></td></tr>
                </table></td></tr>
    <tr>
        <td>Wed</td>
                <td><table><tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
                <tr><td><input type="checkbox" name="w-11"></td>
                    <td><input type="checkbox" name="w-12"></td>
                    <td><input type="checkbox" name="w-13"></td>
                    <td><input type="checkbox" name="w-14"></td></tr>
                </table></td></tr>
    <tr>
        <td>Thu</td>
                <td><table><tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
                <tr><td><input type="checkbox" name="th-11"></td>
                    <td><input type="checkbox" name="th-12"></td>
                    <td><input type="checkbox" name="th-13"></td>
                    <td><input type="checkbox" name="th-14"></td></tr>
                </table></td></tr>
    <tr>
        <td>Fri</td>
               <td><table><tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
                <tr><td><input type="checkbox" name="f-11"></td>
                    <td><input type="checkbox" name="f-12"></td>
                    <td><input type="checkbox" name="f-13"></td>
                    <td><input type="checkbox" name="f-14"></td></tr>
               </table></td></tr>
    <tr>
        <td>Sat</td>
                <td><table><tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
                <tr><td><input type="checkbox" name="s-11"></td>
                    <td><input type="checkbox" name="s-12"></td>
                    <td><input type="checkbox" name="s-13"></td>
                    <td><input type="checkbox" name="s-14"></td></tr>
                </table></td></tr>
    <tr>
        <td>Sun</td>
                <td><table><tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
                <tr><td><input type="checkbox" name="su-11"></td>
                    <td><input type="checkbox" name="su-12"></td>
                    <td><input type="checkbox" name="su-13"></td>
                    <td><input type="checkbox" name="su-14"></td></tr>
                </table></td></tr>
            </tr>

        </table>
<p align="center"><button>cancel</button>&nbsp<button>save</button></p>
</body>
</html>